@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

.timeline {
width: 150px; 
	height: 100px; 
	position: absolute; 
	

	display: inline-block;
	height: 80px;
	width: 110%;
	font: normal bold 15px/20px Roboto;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
	background: #EEE8AA;

	background: linear-gradient(to right, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
	border: 1px solid #32CD32;
}
.EventsSlider {
width: 150px; 
	height: 200px; 
	position: absolute; 
	

	display: inline-block;
	height: 290px;
	width: 110%;
	font: normal bold 15px/20px Roboto;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
	background: #F8F8F8  ;
	border: 1px solid #4169E1;
}
h1 {
    color: orange;
    text-align: center;
}
p {
	color:black;
font-style: bold; 
	font-size:33;
	line-height: 33px;
}
  
#title {
	margin:76px 0px 0px 200px; 
	position: center; 
}

#lefttitle {
	float:center; 
}

#righttitle {
	float:center; 
}

.title {
	font-style: italic; 
	color:green; 
	font-size: 16px; 
	text-transform: uppercase; 
	font-weight: 100px; 
	letter-spacing: 2px; 
	margin: 26px 0px 0px 5px; 
position: right; 
}
.container {
  position: absolute;
} 

.container button {
  display: block;            
  width: 100%;
  margin: 2px;
  text-align: center;
}

.front {
	z-index: 1;
}

.timeline-left {
	width: 9%;
	height: 100%;
	float: left;
	text-align: center;
}

.timeline-center {
	height: 100%;
	padding-top: 20px;
	width: 80%;
	float: left;
}

.timeline-right {
	width: 9%;
	height: 100%;
	float: left;
	text-align: center;
}

.timeline-events {
	z-index: 1;
	top: 0px;
	position: relative;
	background-color: silver;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.timeline-event {
	position: absolute;
	width: 0px;

	height: 0px;
	background: black;
	top: -20px;
	cursor: pointer;
}

.timeline-event span {
	width: 100;
	height: 100;
	
	position: absolute;
	top: -10px;
	left: -4px;

	
	
}
.handleicon img {1000000}

.handleicon {
    width: 46px;
    height: 56px;
	position:relative; 
}

.handleicon:after {
	content: '';
	-webkit-box-shadow:  5px 0 5px 5px rgba(0,0,0,.8);
	-moz-box-shadow:  5px 0 5px 5px rgba(0,0,0,.8);
	box-shadow:  5px 0 50px 5px rgba(0,0,0,.8);
	position: absolute;
	width: 50%;
	height: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;
	-webkit-transform: skew(-40deg);
	-moz-transform: skew(-40deg);
	transform: skew(-40deg);
}
.progg {
	height: 22px;
	position: relative;
	padding: 1px;
	background: #d6d6d6;
}

.progg>span {
	display: block;
	height: 100%;
	background-repeat: repeat-x;
	position: relative;
	z-index: 10;
}

.timeline-bg {
	position: relative;
	padding: 0px;
	top: -15px;
}

.timeline-month {
	position: relative;
	display: inline-block;
	top: 0;
	height: 13px;
}

.timeline-month span {
	color: black;
	font-size: 14px;
	padding: 0 2%;
	margin: 0;
	height: 100%;
	text-align: left;
	position: relative;
	top: -4px;
}
.timeline-monthseprate {
	position: absolute;
	display: inline-block;
	background: green;
	top: 0px;
	width: 1px;
	height: 11px;
}
.timeline-day {
	position: absolute;
	display: inline-block;
	
	top: 0px;
	width: 1px;
	height: 1px;
}
.timeline-today {
	position: absolute;
	display: inline-block;
	background: #FF0000;
	top: 0px;
	width: 1px;
	height: 11px;
}
.timeline-day span {
	color: green;
	font-size: 10px;
	padding: 0;
	margin: 0;
	position: relative;
	left: -5px;
}
.timeline-current{
	color: green;
	font-size: 13px;
	padding: 0;
	margin: 0;
	position: relative;
	left: -5px;
}
.timeline-day span i {
	border-left: 5px solid transparent;
	border-bottom: 5px solid #bab9c9;
	border-right: 5px solid transparent;
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	top: 10px;
}

.timeline-event-box {
	font-size: 1.5em;
	position: relative;
	background: gray;
	border: 1px solid #C7C7C7;
	top: 29px;
	width: 200px;
	left: -20px;
	padding: 5px;
}
.timeline-event-box:after, .timeline-event-box:before {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-event-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.timeline-event-box:before {
	border-color: rgba(199, 199, 199, 0);
	border-bottom-color: #C7C7C7;
	border-width: 9px;
	margin-left: -9px;
}
