<!doctype html>
<html>

<head>

<meta charset="utf-8">

<!-- bower:js -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/moment/moment.js"></script>
<script src="vendor/moment-range/lib/moment-range.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->

<!-- bower:css -->
<!-- endbower -->

<script src="angular-horizontal-timeline.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="angular-horizontal-timeline.css">
<style type="text/css">
body {
  margin: 0;
}
</style>


</head>

 <body>
<div class="row">
      <div  class="col-md-2"></div>
<div class="panel panel-default col-md-8" style="height:1500px;">
  <div class="panel-body">
<h1>Our Company Timeline</h1>



<ul>
	<div id="title">
	    <div id="righttitle" class="title">
	      <marquee> Adding and Viewing Events </marquee>
	    </div> <!--end righttitle-->
	    <div class="clear"></div>
	</div>
</ul>
	
	

<div class="row" ng-app="demoApp" ng-controller="demoCtrl">
 
   

	<div class="col-md-2 col-xs-2" style="padding-right:1px" ><button class="btn btn-success btn-lg" ng-click="left()" style="float:right;"><span class="glyphicon glyphicon-backward"></span> </button> </div>


	<div  class="col-md-8 col-xs-8">

	  <horizontal-timeline
			start-date="{{startDate}}" 
			end-date="{{endDate}}"
			events="events" eventsss="eventsss" todate="{{today}}"        >
		</horizontal-timeline>

	</div>
	
  <div  class="col-md-2 col-xs-2" style="padding-left:111px" >  <button   class="btn btn-success btn-lg" ng-click="right()" ><span class="glyphicon glyphicon-forward"></span> </button></div>
	<br><br><br><br><br>
       <div align="left" >
			<button  class="btn btn-success" ng-click="zoomout()" ><span class="glyphicon glyphicon-zoom-out"></span> Year</button>
			<button  class="btn btn-success" ng-click="zoomin()" ><span  class="glyphicon glyphicon-zoom-in"></span> Month</button>
                        <button  class="btn btn-success" ng-click="today()" ><span class="glyphicon glyphicon-time"></span> today</button>
	</div>
<br>

<div class="col-md-2 col-xs-2" style="padding-right:1px" ><button  class="btn btn-primary btn-lg" ng-click="slideleft()" style="float:right;"><span class="glyphicon glyphicon-chevron-left"></span> </button> </div>

		<div  class="col-md-8 col-xs-8">

		
			<timeline-options  
				events="events" mytitle="mytitle"  mycontent="mycontent" >
			</timeline-options>
		
		
	        
	
		</div>

  <div  class="col-md-2 col-xs-2" style="padding-left:111px" >  <button  class="btn btn-primary btn-lg"   ng-click="slideright()" ><span class="glyphicon glyphicon-chevron-right"></span> </button></div>


<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<h2>Adding Event</h2>
	  <input id ="datetest" type="date" ng-model="dates" placeholder="yyyy-MM-dd"  />
  <div class="col-md-2 col-xs-2" style="padding-right:1px" > <textarea ng-model="todoInputtitle"placeholder="Event Title" ></textarea> </div>
	  <div class="col-md-2 col-xs-2" style="padding-right:1px" > <textarea ng-model="todoInput"placeholder="Event Description" ></textarea> </div>
<br><br>
	  <button  class="btn btn-primary" ng-click="todoAdd()" ><span class="glyphicon glyphicon-plus"></span> Add new event today</button>
<br><br>	
 
<h2>Events in my timeline</h2>

<table border="1" style="width:40%">
  <tr>
  <td>
 
<div ng-repeat="x in events">
    <input type="checkbox" ng-model="x.done"> <span ng-bind-html="x.title"></span> at <span ng-bind="x.date"></span> 
</div>
</td>
 </tr>
</table>
<button  class="btn btn-danger" ng-click="remove()" ><span class="glyphicon glyphicon-remove"></span> Delete Selected event</button>
	
</div>
</div>

 </div>

 

</body>
</html>
